body{
    font-family:"微软雅黑";
}
/*wrapper start*/
.wrapper {
    width: 450px;
    margin:0 auto;
    margin-top: 50px;
}
#content {
    height:300px;
}
.article {
    width:320px;
    margin: 0 auto;
    margin-top: 30px;
}
.aside {
    width:310px;
    color:#666;
    margin: 0 auto;
}
.aside li {
    padding-left: 50px;
    margin-top: 150px;
}
/* header */
h1 {
    color:#494949;
    display:block;
    font-size:25px;
    text-align: center;
    font-weight:bold;
    line-height:1.1;
    margin:0;padding:0 0 30px;
    word-wrap:break-word;
}
/* form */
.item {
    clear:both;
    margin:0 0 20px;
    zoom:1;
}
label {
    display: inline-block;
    float:left; margin-right: 15px;
    text-align: right;
    width: 60px;
    font-size: 14px;
    line-height: 30px;
    vertical-align: baseline;
}
.basic-input {
    width: 200px;
    padding: 5px;
    height: 18px;
    font-size: 14px;
    vertical-align:middle;
    border-radius: 3px;
    border: 1px solid #c9c9c9;
}
.basic-input:focus {
    border: 1px solid #a9a9a9;
}
.btn-submit {
    cursor: pointer;
    color: #ffffff;
    background: #3fa156;
    border: 1px solid #528641;
    font-size: 14px;
    font-weight: bold;
    padding:6px 26px;
    border-radius: 3px;
    width: 100px;
    height:30px;
}
.btn-submit:hover {
    background-color:#4fca6c;
    border-color:#6aad54;
}
.btn-submit:active {
    background-color:#3fa156;
    border-color:#528641;
}
.btn {
    margin-top: 40px;
    padding-left: 36px;
}
/*wrapper end*/